#search {
  display: flex;
  width: 200px;
  margin-bottom: 8px;
}

#searchbar {
  border-radius: 0px;
  border-width: 1px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 150px;
}

#searchbutton {
  height: 25px;
  width: 50px;
  margin-top: 3px;
  margin-left: -5px;
  cursor: pointer;
}

#searchbutton:hover {
  transform: scale(1.2);
}